<template>
  <b-container  class="mt-4 mb-4" fluid>
    <b-overlay :show="show" rounded="sm">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="card">
            <div class="card-header bg-primary text-light">
              <a @click="cargaInicial();" style="cursor:pointer;">Subseries</a>
            </div>
            <div class="card-body">
              <div class="row mt-4">
                <div class="col-md-10">
                                  
                </div>
                <div class="col-md-2">
                  <div class="float-right">
                    <button title="Listar" @click="ejecutarAcciones(0)" :class="{'btn':true, 'btn-success':(indicadorvista===0), 'btn-primary':(indicadorvista===1)}">
                      <icon icon="list" class="text-light fa-1x"></icon>
                    </button>
                    <button title="Crear Nuevo Registro" @click="ejecutarAcciones(1)" :class="{'btn':true, 'btn-success':(indicadorvista===1), 'btn-primary':(indicadorvista===0)}">
                      <icon icon="plus" class="text-light fa-1x"></icon>
                    </button>
                  </div>
                </div>
              </div>
              <b-container fluid v-show="!indicadorvista">
                <div class="row mt-4">
                  <div class="col-md-3">
                    <b-form-input v-model="filtrosppal.nombre" placeholder="Filtrar por Nombre de la Subserie"></b-form-input>
                  </div>
                  <div class="col-md-3">
                    <b-form-select v-model="filtrosppal.idmarca" :options="marcas" @change="buscarSeries(filtrosppal.idmarca);" title="Seleccione una marca para filtrar">
                      <template v-slot:first>
                          <b-form-select-option :value="undefined" disabled>-- Seleccione una marca --</b-form-select-option>
                        </template>
                    </b-form-select>
                  </div>  
                  <div class="col-md-3">
                    <b-form-select v-model="filtrosppal.idserie" :options="series" title="Seleccione una serie para filtrar">
                      <template v-slot:first>
                          <b-form-select-option :value="undefined" disabled>-- Seleccione una serie --</b-form-select-option>
                        </template>
                    </b-form-select>
                  </div>
                  <div class="col-md-3">
                    <button title="Filtrar Registros" @click="filtrarRegistrosPpal();" class="btn btn-success">
                      <icon icon="search" class="text-light fa-1x"></icon>
                    </button>
                    <button title="Limpiar filtros" @click="limpiarFiltrosPpal();" class="btn btn-primary">
                      <icon icon="eraser" class="text-light fa-1x"></icon>
                    </button>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-md-12">
                    <div class="overflow-auto">
                          <b-table
                          id="tabla_subseries" 
                          striped 
                          hover 
                          responsive 
                          :items="items"
                          :fields="fields" 
                          :per-page="perPage"
                          :current-page="currentPage"
                          small 
                          show-empty 
                          >                        
                          <template v-slot:empty="scope">
                            <h6>No hay datos para mostrar</h6>
                          </template>
                          <template v-slot:emptyfiltered="scope">
                            <h6>No hay datos para mostrar</h6>
                          </template>
                          <template v-slot:cell(Editar)="data">
                            <icon icon="edit" class="text-success fa-1x" 
                              style="cursor:pointer;" title="Editar Registro"
                              @click="editarRegistro(data.value);">
                            </icon>
                          </template>
                          <template v-slot:cell(Eliminar)="data">
                            <icon icon="times" class="text-danger fa-1x" 
                              style="cursor:pointer;" title="Eliminar Registro"
                              @click="confirmarEliminarRegistro(data.value);">
                            </icon>
                          </template>
                          <template v-slot:cell()="data">
                            {{ data.value.charAt(0).toUpperCase()+data.value.slice(1) }}
                          </template>
                          </b-table>
                          <b-pagination
                          v-model="currentPage"
                          :total-rows="rows"
                          :per-page="perPage"
                          aria-controls="my-table" 
                          class="float-right" 
                          ></b-pagination>
                      </div>
                  </div>
                </div>
              </b-container>
              <b-container fluid v-show="indicadorvista">
                  <div class="row mt-4">
                    <input type="hidden" v-model="subserie.idsubserie" />                    
                    <div class="col-md-4">
                      <b-form-select v-model="subserie.idmarca" :options="marcas" @change="buscarSeries(subserie.idmarca);" title="Seleccione una Marca">
                        <template v-slot:first>
                          <b-form-select-option :value="undefined" disabled>-- Seleccione una Marca --</b-form-select-option>
                        </template>
                      </b-form-select>
                    </div>
                    <div class="col-md-4">
                      <b-form-select v-model="subserie.idserie" :options="series" title="Seleccione una Serie">
                        <template v-slot:first>
                          <b-form-select-option :value="undefined" disabled>-- Seleccione una Serie --</b-form-select-option>
                        </template>
                      </b-form-select>
                    </div>
                    <div class="col-md-4">
                      <b-form-input placeholder="Nombre de la Subserie" v-model="subserie.nombre" required></b-form-input>
                    </div>
                  </div>   
                  <div class="row mt-4">                    
                    <div class="col-md-4">
                      <b-form-input placeholder="Observación" v-model="subserie.observacion"></b-form-input>
                    </div>                          
                    <div class="col-md-2">
                      <b-button variant="success" @click="confirmarGuardarRegistro();">Guardar Registro</b-button>
                    </div>
                  </div>                                       
                  <b-container fluid v-show="yacreado">
                    <div class="row mt-4">   
                      <div class="col-md-12">
                        <h5 class="text-primary">Seleccione los años relacionados con esta subserie</h5>
                      </div>
                    </div> 
                    <div class="row mt-4">   
                      <div class="col-md-4">
                        <b-form-select v-model="annos.inicio" :options="annos" title="Seleccione el año inicial">
                          <template v-slot:first>
                            <b-form-select-option :value="undefined" disabled>-- Seleccione el año inicial --</b-form-select-option>
                          </template>
                        </b-form-select>
                      </div>
                      <div class="col-md-4">
                        <b-form-select v-model="annos.final" :options="annos" title="Seleccione el año final">
                          <template v-slot:first>
                            <b-form-select-option :value="undefined" disabled>-- Seleccione el año final --</b-form-select-option>
                          </template>
                        </b-form-select>
                      </div>
                      <div class="col-md-2">
                        <b-button variant="success" @click="confirmarGuardarAnnosRelacionados();">Guardar Años</b-button>
                      </div>
                    </div>  
                  </b-container>  
              </b-container>              
            </div>
          </div>
        </div>
      </div>
    </b-overlay>
  </b-container>  
</template>

<script>
export default {
  data() {
    return {
      indicadorvista: 0,
      show: false, 
      idactual:0,
      subaccion:'',
      subserie: {},
      filtrosppal:{},
      marcas:[], 
      series:[],
      annos:[],
      perPage: 10,
      currentPage: 1,    
      yacreado:0,         
      items: [],
      fields:[]
    };
  },
  created() {
    this.cargaInicial();
  },
  mounted() {

  },
  computed: {
    rows() {
      return this.items.length
    }
  },
  methods:{
      cargaInicial(){
        this.limpiarFiltrosPpal();
        this.buscarSubseries();  
        this.buscarMarcas();     
        this.buscarAnnos();
      },
      confirmarGuardarAnnosRelacionados(){
        if(this.annos.inicio===undefined){
          this.$toasted.error('- Debe ingresar el año inicial').goAway(3000);  
          return;
        }        
        if(this.annos.final===undefined){
          this.$toasted.error('- Debe ingresar el año final').goAway(3000);  
          return;
        }
        if(parseInt(this.annos.inicio)>parseInt(this.annos.final)){
          this.$toasted.error('- El año inicial debe ser menor que el año final').goAway(3000);  
          return;
        }
        this.subaccion='relacionarmodelos';
        this.confirmacion('Desea relacionar los años seleccionados  con la subserie actual, '+
        'al hacerlo los anteriores años seleccionados seran sobreescritos desea continuar? ');
      },
      relacionarAnnosconSubserie(){
        let datos={
          idsubserie:this.subserie.idsubserie, 
          inicio:this.annos.inicio, 
          final:this.annos.final
        };
        axios.post('/relacionarmodelos', datos)
          .then(
              res=>{
                
              }
          ).catch(error => {
              
          });
      },
      buscarAnnos(){
        axios.get("/subseries/annos").then(res=> {          
          this.annos=res.data;
        });
      },
      filtrarRegistrosPpal(){
        if(!this.filtrosppal.nombre && !this.filtrosppal.idmarca){
          return;
        }
        this.buscarSubseries();
      },
      limpiarFiltrosPpal(){
        this.filtrosppal={};
        this.series=[];
        this.buscarSubseries();
      },
      buscarSeries(idmarca, idserie=0){  
        this.show=true;
        this.subserie.idserie=undefined;
        this.filtrosppal.idserie=undefined;
        this.series=[];
        if(isNaN(idmarca)){          
          this.show=false;
          return;
        }    
        axios.get("/subseries/series?idmarca="+idmarca).then(res=> {          
          this.series=res.data;
          if(idserie){
            this.subserie.idserie=idserie;
          }          
          this.show=false;
        });
      },
      buscarSubseries(id=0){
        this.show=true;
        let parametro='';
        if(id){ 
          parametro='?id='+id;
        }else{
          if(this.filtrosppal.nombre){
            parametro+="?nombre="+this.filtrosppal.nombre;
          }
          if(this.filtrosppal.idmarca){
            parametro+='?idmarca='+this.filtrosppal.idmarca;
          }
          if(this.filtrosppal.idserie){
            parametro+='?idserie='+this.filtrosppal.idmarca;
          }
        }        
        axios.get("/subseries"+parametro).then(res => {
          this.show=false;    
          if(id){
            this.subserie=res.data[0];
            this.yacreado=1;
            this.buscarSeries(this.subserie.idmarca, this.subserie.idserie);
          }else{
            this.cargarDatosTabla(res.data);
          }            
        });
      }, 
      buscarMarcas(){
        axios.get("/series/marcas").then(res=> {
          this.marcas=res.data;
        });
      },
      ejecutarAcciones(indicador){
          if(indicador){
            this.subserie={};
            this.series=[];
          }else{
            this.buscarSubseries();
          }          
          this.indicadorvista=indicador;
          this.yacreado=0;
      },
      cargarDatosTabla(datos){
        this.fields=[];
        this.items=[];
        if(!parseInt(datos.length)){
          return;
        }
        for (const a in datos) {
          if(!parseInt(this.fields.length)){
            for (const b in datos[a]) {
              if(b!='id' || b.substring(0, 2)!='id'){
                this.fields.push({
                  key: b,
                  sortable: true
                });
              }    
            }
            this.fields.push({
              key: 'Editar',
              sortable: false
            });
            this.fields.push({
              key: 'Eliminar',
              sortable: false
            });
          }
          let item=datos[a];
          item['Editar']=datos[a]['id'];         
          item['Eliminar']=datos[a]['id'];  
          this.items.push(item);   
        }
      },
      editarRegistro(id){
        this.idactual=id;
        this.subaccion='editar';
        this.confirmacion();
      },
      confirmarEliminarRegistro(id){
        this.idactual=id;
        this.subaccion='eliminar';        
        this.confirmacion();
      },
      aceptarSubaccion(){
        if(this.subaccion=='editar'){
          this.ejecutarAcciones(1);
          this.buscarSubseries(this.idactual);
        }else if(this.subaccion=='guardar'){
          this.guardarRegistro();          
        }else if(this.subaccion=='eliminar'){
          this.eliminarRegistro();
        }else if(this.subaccion=='relacionarmodelos'){
          this.relacionarAnnosconSubserie();
        }
      },
      eliminarRegistro(){
        this.show=true;
        axios.delete(`/subseries/${this.idactual}`).
          then(()=>{
            this.show=false;  
            this.$toasted.success('- El registro fue eliminado exitosamente').goAway(3000);   
            this.ejecutarAcciones(0);
          });
      }, 
      validarRegistrosxGuardar(){
        let indicador=true;
        if(!this.subserie.nombre){
          this.$toasted.error('- Debe ingresar el nombre de la subserie').goAway(3000);
          indicador=false;
        }
        if(!this.subserie.idserie){
          this.$toasted.error('- Debe ingresar una serie').goAway(3000);
          indicador=false;
        }
       return indicador;
      },
      accionesPostGuardado(){
        this.show=false;   
        this.$toasted.success('- El registro fue guardado exitosamente').goAway(3000); 
        this.ejecutarAcciones(0);
      },
      guardarRegistro(){        
        this.show=true;
        if(!this.subserie.idsubserie){
          axios.post('/subseries', this.subserie)
          .then(
              res=>{
                this.accionesPostGuardado();
              }
          ).catch(error => {              
              this.validacionErroresalGuardar(error); 
          });
        }else{
          axios.put(`/subseries/${this.subserie.idsubserie}`, this.subserie)
          .then(
              res=>{
                this.accionesPostGuardado();
              }
          ).catch(error => {
              this.validacionErroresalGuardar(error);              
          });
        }        
      },
      validacionErroresalGuardar(error){
        this.show=false;
        this.$toasted.error('- Se presentaron errores durante el proceso de guardar el registro').goAway(3000); 
        let errores=error.response.data.errors;
        for (const a in errores) {
          this.$toasted.error(errores[a]).goAway(3000); 
        }
      },
      confirmarGuardarRegistro(){
        if(!this.validarRegistrosxGuardar()){
          return;
        }
        this.subaccion='guardar';  
        this.confirmacion();
      },
      confirmacion(titulo=undefined) {
        if(!titulo){
          titulo=`Desea ${this.subaccion} este registro?`;
        }
        this.$bvModal.msgBoxConfirm(titulo, {
          title: 'Confirmación',
          size: 'md',
          buttonSize: 'md',
          okVariant: 'success',
          okTitle: 'Aceptar',
          cancelVariant: 'danger',
          cancelTitle: 'Cancelar',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
          .then(value => {
            if(value){
              this.aceptarSubaccion();
            }            
          })
          .catch(err => {
            // An error occurred
          });
      }
  }
};
</script>
