<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                        I'm an example component.
                    </div>

                    <div class="card-body">
                        <tabla-paginada></tabla-paginada>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        created(){
            axios.get('/marcas').
            then(
                res=>{
                    this.categorias=res.data;
                    this.llenarArrayCategorias();
                }
            );
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
