<template>
  <b-container fluid>
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header bg-primary text-light">Marcas</div>
          <div class="card-body">
            <div class="row mt-4">
              <div class="col-md-10"></div>
              <div class="col-md-2">
                <div class="float-right">
                  <button title="Listar" @click="ejecutarAcciones(0)" :class="{'btn':true, 'btn-success':(indicadorvista===0), 'btn-primary':(indicadorvista===1)}">
                    <icon icon="list" class="text-light fa-1x"></icon>
                  </button>
                  <button title="Crear Nuevo Registro" @click="ejecutarAcciones(1)" :class="{'btn':true, 'btn-success':(indicadorvista===1), 'btn-primary':(indicadorvista===0)}">
                    <icon icon="plus" class="text-light fa-1x"></icon>
                  </button>
                </div>
              </div>
            </div>
            <b-container fluid v-show="!indicadorvista">
              <div class="row mt-4">
                <div class="col-md-4">
                  <b-form-input placeholder="Filtrar por Nombre de la Marca"></b-form-input>
                </div>
                <div class="col-md-4">
                  <b-form-input placeholder="Filtrar por País"></b-form-input>
                </div>
                <div class="col-md-4"></div>
              </div>
              <div class="row mt-4">
                <div class="col-md-12">
                  <div class="overflow-auto">
                        <b-table
                        id="tabla_marcas" 
                        striped hover 
                        :items="items"
                        :per-page="perPage"
                        :current-page="currentPage"
                        small 
                        show-empty 
                        >
                        <template v-slot:thead-top="data">
        <b-tr>
          <b-th colspan="2"><span class="sr-only">Name and ID</span></b-th>
          <b-th variant="secondary">Type 1</b-th>
          <b-th variant="primary" colspan="3">Type 2</b-th>
          <b-th variant="danger">Type 3</b-th>
        </b-tr>
      </template>
                        <template v-slot:empty="scope">
                            <h4>{{ scope.emptyText }}</h4>
                            </template>
                            <template v-slot:emptyfiltered="scope">
                            <h4>{{ scope.emptyFilteredText }}</h4>
                            </template>
                        </b-table>
                        <b-pagination
                        v-model="currentPage"
                        :total-rows="rows"
                        :per-page="perPage"
                        aria-controls="my-table" 
                        class="float-right" 
                        ></b-pagination>
                    </div>
                </div>
              </div>
            </b-container>
            <b-container fluid v-show="indicadorvista">
                <button class="btn btn-primary" title="Crear Nuevo Registro">
                    <icon icon="search" class="text-light fa-1x"></icon>
                  </button>
            </b-container>
          </div>
        </div>
      </div>
    </div>
  </b-container>
</template>

<script>
export default {
  data() {
    return {
      indicadorvista: 0,
      marcas: [],
      perPage: 3,
      currentPage: 1,
      fields: ['id', 'nombre', 'observacion', 'pais'],
    items: [
        { id: 1, first_name: 'Fred', last_name: 'Flintstone' },
        { id: 2, first_name: 'Wilma', last_name: 'Flintstone' },
        { id: 3, first_name: 'Barney', last_name: 'Rubble' },
        { id: 4, first_name: 'Betty', last_name: 'Rubble' },
        { id: 5, first_name: 'Pebbles', last_name: 'Flintstone' },
        { id: 6, first_name: 'Bamm Bamm', last_name: 'Rubble' },
        { id: 7, first_name: 'The Great', last_name: 'Gazzoo' },
        { id: 8, first_name: 'Rockhead', last_name: 'Slate' },
        { id: 9, first_name: 'Pearl', last_name: 'Slaghoople' }
    ]
    };
  },
  created() {
    axios.get("/marcas").then(res => {
        console.info(res.data);
        this.items=res.data;
    });
  },
  mounted() {
    
  },
  computed: {
    rows() {
    return this.items.length
    }
  },
  methods:{
      ejecutarAcciones(indicador){
          this.indicadorvista=indicador;
      }
  }
};
</script>
