<template>
  <b-container fluid>
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header bg-primary text-light">Marcas</div>
          <div class="card-body">
            <div class="row mt-4">
              <div class="col-md-10">
              </div>
              <div class="col-md-2">
                <div class="float-right">
                  <button title="Listar" @click="ejecutarAcciones(0)" :class="{'btn':true, 'btn-success':(indicadorvista===0), 'btn-primary':(indicadorvista===1)}">
                    <icon icon="list" class="text-light fa-1x"></icon>
                  </button>
                  <button title="Crear Nuevo Registro" @click="ejecutarAcciones(1)" :class="{'btn':true, 'btn-success':(indicadorvista===1), 'btn-primary':(indicadorvista===0)}">
                    <icon icon="plus" class="text-light fa-1x"></icon>
                  </button>
                </div>
              </div>
            </div>
            <b-container fluid v-show="!indicadorvista">
              <div class="row mt-4">
                <div class="col-md-4">
                  <b-form-input placeholder="Filtrar por Nombre de la Marca"></b-form-input>
                </div>
                <div class="col-md-4">
                  <b-form-input placeholder="Filtrar por País"></b-form-input>
                </div>
                <div class="col-md-4"></div>
              </div>
              <div class="row mt-4">
                <div class="col-md-12">
                  <div class="overflow-auto">
                        <b-table
                        id="tabla_marcas" 
                        striped hover 
                        :items="items"
                        :fields="fields" 
                        :per-page="perPage"
                        :current-page="currentPage"
                        small 
                        show-empty 
                        >                        
                        <template v-slot:empty="scope">
                          <h6>No hay datos para mostrar</h6>
                        </template>
                        <template v-slot:emptyfiltered="scope">
                          <h6>No hay datos para mostrar</h6>
                        </template>
                        <template v-slot:cell(Editar)="data">
                          <icon icon="edit" class="text-success fa-1x" 
                            style="cursor:pointer;" title="Editar Registro"
                            @click="editarRegistro()">
                          </icon>
                        </template>
                        <template v-slot:cell(Eliminar)="data">
                          <icon icon="times" class="text-danger fa-1x" 
                            style="cursor:pointer;" title="Eliminar Registro">
                          </icon>
                        </template>
                        </b-table>
                        <b-pagination
                        v-model="currentPage"
                        :total-rows="rows"
                        :per-page="perPage"
                        aria-controls="my-table" 
                        class="float-right" 
                        ></b-pagination>
                    </div>
                </div>
              </div>
            </b-container>
            <b-container fluid v-show="indicadorvista">
                <button class="btn btn-primary" title="Crear Nuevo Registro">
                    <icon icon="search" class="text-light fa-1x"></icon>
                  </button>
            </b-container>
          </div>
        </div>
      </div>
    </div>
  </b-container>
</template>

<script>
export default {
  data() {
    return {
      indicadorvista: 0,
      marcas: [],
      perPage: 3,
      currentPage: 1,            
      items: [],
      fields:[]
    };
  },
  created() {
    axios.get("/marcas").then(res => {
        this.hallarEncabezados(res.data);
    });
  },
  mounted() {
    console.info('Componente creado');
  },
  computed: {
    rows() {
    return this.items.length
    }
  },
  methods:{
      ejecutarAcciones(indicador){
          this.indicadorvista=indicador;
      },
      hallarEncabezados(datos){
        this.fields=[];
        if(!parseInt(datos.length)){
          return;
        }
        for (const a in datos) {
          if(!parseInt(this.fields.length)){
            for (const b in datos[a]) {
              if(b!='id'){
                this.fields.push({
                  key: b,
                  sortable: true
                });
              }    
            }
            this.fields.push({
              key: 'Editar',
              sortable: false
            });
            this.fields.push({
              key: 'Eliminar',
              sortable: false
            });
          }
          let item=datos[a];
          item['Editar']=datos[a]['id'];         
          item['Eliminar']=datos[a]['id'];  
          this.items.push(item);   
        }
      }
  }
};
</script>
