<template>
  <b-container fluid>
    <b-overlay :show="show" rounded="sm">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="card">
            <div class="card-header bg-primary text-light">Marcas</div>
            <div class="card-body">
              <div class="row mt-4">
                <div class="col-md-10">
                                  
                </div>
                <div class="col-md-2">
                  <div class="float-right">
                    <button title="Listar" @click="ejecutarAcciones(0)" :class="{'btn':true, 'btn-success':(indicadorvista===0), 'btn-primary':(indicadorvista===1)}">
                      <icon icon="list" class="text-light fa-1x"></icon>
                    </button>
                    <button title="Crear Nuevo Registro" @click="ejecutarAcciones(1)" :class="{'btn':true, 'btn-success':(indicadorvista===1), 'btn-primary':(indicadorvista===0)}">
                      <icon icon="plus" class="text-light fa-1x"></icon>
                    </button>
                  </div>
                </div>
              </div>
              <b-container fluid v-show="!indicadorvista">
                <div class="row mt-4">
                  <div class="col-md-4">
                    <b-form-input v-model="filtrosppal.nombre" placeholder="Filtrar por Nombre de la Marca"></b-form-input>
                  </div>
                  <div class="col-md-4">
                    <b-form-select v-model="filtrosppal.idpais" :options="paises" title="Seleccione un país para filtrar"></b-form-select>
                  </div>  
                  <div class="col-md-4">
                    <button title="Crear Nuevo Registro" @click="ejecutarAcciones(1)" :class="{'btn':true, 'btn-success':(indicadorvista===1), 'btn-primary':(indicadorvista===0)}">
                      <icon icon="plus" class="text-light fa-1x"></icon>
                    </button>
                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-md-12">
                    <div class="overflow-auto">
                          <b-table
                          id="tabla_marcas" 
                          striped hover 
                          :items="items"
                          :fields="fields" 
                          :per-page="perPage"
                          :current-page="currentPage"
                          small 
                          show-empty 
                          >                        
                          <template v-slot:empty="scope">
                            <h6>No hay datos para mostrar</h6>
                          </template>
                          <template v-slot:emptyfiltered="scope">
                            <h6>No hay datos para mostrar</h6>
                          </template>
                          <template v-slot:cell(Editar)="data">
                            <icon icon="edit" class="text-success fa-1x" 
                              style="cursor:pointer;" title="Editar Registro"
                              @click="editarRegistro(data.value);">
                            </icon>
                          </template>
                          <template v-slot:cell(Eliminar)="data">
                            <icon icon="times" class="text-danger fa-1x" 
                              style="cursor:pointer;" title="Eliminar Registro"
                              @click="confirmarEliminarRegistro(data.value);">
                            </icon>
                          </template>
                          </b-table>
                          <b-pagination
                          v-model="currentPage"
                          :total-rows="rows"
                          :per-page="perPage"
                          aria-controls="my-table" 
                          class="float-right" 
                          ></b-pagination>
                      </div>
                  </div>
                </div>
              </b-container>
              <b-container fluid v-show="indicadorvista">
                  <div class="row mt-4">
                    <input type="hidden" v-model="marca.idmarca" /> 
                    <div class="col-md-4">
                      <b-form-input placeholder="Nombre de la Marca" v-model="marca.nombre" required></b-form-input>
                    </div>
                    <div class="col-md-4">
                      <b-form-input placeholder="Observación" v-model="marca.observacion"></b-form-input>
                    </div>
                    <div class="col-md-4">
                      <b-form-select v-model="marca.idpais" :options="paises" title="Seleccione el país"></b-form-select>
                    </div>                  
                  </div>   
                  <div class="row mt-4">
                    <div class="col-md-2">
                      <b-button variant="success" @click="confirmarGuardarRegistro();">Guardar Registro</b-button>
                    </div>
                  </div>             
              </b-container>
            </div>
          </div>
        </div>
      </div>
    </b-overlay>
    <div>
      <b-modal id="modalConfirmacion" title="Confirmar Acción" @ok="aceptarSubaccion">
        <p class="my-4">Desea <span class="text-primary h6">{{ subaccion }}</span> este registro?</p>
      </b-modal>
    </div>    
  </b-container>  
</template>

<script>
export default {
  data() {
    return {
      indicadorvista: 0,
      show: false, 
      idactual:0,
      subaccion:'',      
      marca: {},
      filtrosppal:{},
      paises:[], 
      perPage: 10,
      currentPage: 1,            
      items: [],
      fields:[]
    };
  },
  created() {
    this.buscarMarcas();  
    this.buscarPaises(); 
    
  },
  mounted() {
    console.info('Componente creado');
  },
  computed: {
    rows() {
      return this.items.length
    }
  },
  methods:{
      buscarMarcas(id=0){
        this.show=true;
        let parametro='';
        if(id){          
          parametro='?id='+id;
        }
        axios.get("/marcas"+parametro).then(res => {
          this.show=false;    
          if(id){
            this.marca=res.data[0];
          }else{
            this.cargarDatosTabla(res.data);
          }            
        });
      }, 
      buscarPaises(){
        axios.get("/marcas/paises").then(res=> {
          this.paises=res.data;
        });
      },
      ejecutarAcciones(indicador){
          if(indicador){
            this.marca={};
          }else{
            this.buscarMarcas();
          }          
          this.indicadorvista=indicador;
      },
      cargarDatosTabla(datos){
        this.fields=[];
        this.items=[];
        if(!parseInt(datos.length)){
          return;
        }
        for (const a in datos) {
          if(!parseInt(this.fields.length)){
            for (const b in datos[a]) {
              if(b!='id'){
                this.fields.push({
                  key: b,
                  sortable: true
                });
              }    
            }
            this.fields.push({
              key: 'Editar',
              sortable: false
            });
            this.fields.push({
              key: 'Eliminar',
              sortable: false
            });
          }
          let item=datos[a];
          item['Editar']=datos[a]['id'];         
          item['Eliminar']=datos[a]['id'];  
          this.items.push(item);   
        }
      },
      editarRegistro(id){
        this.idactual=id;
        this.subaccion='editar';
        this.$bvModal.show('modalConfirmacion');
      },
      confirmarEliminarRegistro(id){
        this.idactual=id;
        this.subaccion='eliminar';        
        this.$bvModal.show('modalConfirmacion');
      },
      aceptarSubaccion(){
        if(this.subaccion=='editar'){
          this.ejecutarAcciones(1);
          this.buscarMarcas(this.idactual);
        }else if(this.subaccion=='guardar'){
          this.guardarRegistro();          
        }else if(this.subaccion=='eliminar'){
          this.eliminarRegistro();
        }
      },
      eliminarRegistro(){
        this.show=true;
        axios.delete(`/marcas/${this.idactual}`).
          then(()=>{
            this.show=false;  
            this.$toasted.success('- El registro fue eliminado exitosamente').goAway(3000);   
            this.ejecutarAcciones(0);
          });
      }, 
      validarRegistrosxGuardar(){
        let indicador=true;
        if(!this.marca.nombre){
          this.$toasted.error('- Debe ingresar el nombre de la Marca').goAway(3000);
          indicador=false;
        }
        if(!this.marca.idpais){
          this.$toasted.error('- Debe ingresar un país').goAway(3000);
          indicador=false;
        }
       return indicador;
      },
      accionesPostGuardado(){
        this.show=false;   
        this.$toasted.success('- El registro fue guardado exitosamente').goAway(3000); 
        this.ejecutarAcciones(0);
      },
      guardarRegistro(){        
        this.show=true;
        if(!this.marca.idmarca){
          axios.post('/marcas', this.marca)
          .then(
              res=>{
                this.accionesPostGuardado();
              }
          );
        }else{
          axios.put(`/marcas/${this.marca.idmarca}`, this.marca)
          .then(
              res=>{
                this.accionesPostGuardado();
              }
          );
        }        
      },
      confirmarGuardarRegistro(){
        if(!this.validarRegistrosxGuardar()){
          return;
        }
        this.subaccion='guardar';  
        this.$bvModal.show('modalConfirmacion');
      }
  }
};
</script>
