<template>
  <div class="row mt-4">
      <div class="col-md-12">
        <div class="overflow-auto">
              <b-table
              id="tabla_marcas" 
              striped hover 
              :items="items"
              :fields="fields" 
              :per-page="perPage"
              :current-page="currentPage"
              small 
              show-empty 
              >                        
              <template v-slot:empty="scope">
                  <h6>No hay datos para mostrar</h6>
                  </template>
                  <template v-slot:emptyfiltered="scope">
                  <h6>No hay datos para mostrar</h6>
                  </template>
              </b-table>
              <b-pagination
              v-model="currentPage"
              :total-rows="rows"
              :per-page="perPage"
              aria-controls="my-table" 
              class="float-right" 
              ></b-pagination>
          </div>
      </div>
    </div>
</template>

<script>
  export default {
    data() {
      return {
        perPage: 3,
        currentPage: 1,         
        items: [
          { id: 1, first_name: 'Fred', last_name: 'Flintstone' },
          { id: 2, first_name: 'Wilma', last_name: 'Flintstone' },
          { id: 3, first_name: 'Barney', last_name: 'Rubble' },
          { id: 4, first_name: 'Betty', last_name: 'Rubble' },
          { id: 5, first_name: 'Pebbles', last_name: 'Flintstone' },
          { id: 6, first_name: 'Bamm Bamm', last_name: 'Rubble' },
          { id: 7, first_name: 'The Great', last_name: 'Gazzoo' },
          { id: 8, first_name: 'Rockhead', last_name: 'Slate' },
          { id: 9, first_name: 'Pearl', last_name: 'Slaghoople' }
        ]
      }
    },
    computed: {
      rows() {
        return this.items.length
      }
    }
  }
</script>
