<template>
  <div class="row mt-4">
      <div class="col-md-12">
        <div class="overflow-auto">
              <b-table
              id="tabla_marcas" 
              striped hover 
              :items="items"
              :fields="fields" 
              :per-page="perPage"
              :current-page="currentPage"
              small 
              show-empty 
              >                        
              <template v-slot:empty="scope">
                  <h6>No hay datos para mostrar</h6>
                  </template>
                  <template v-slot:emptyfiltered="scope">
                  <h6>No hay datos para mostrar</h6>
                  </template>
              </b-table>
              <b-pagination
              v-model="currentPage"
              :total-rows="rows"
              :per-page="perPage"
              aria-controls="my-table" 
              class="float-right" 
              ></b-pagination>
          </div>
      </div>
    </div>
</template>

<script>
  export default {
    data() {
      return {
        perPage: 3,
        currentPage: 1,    
        fields: [],
        items: this.$store.state.categorias
      }
    },
    mounted(){

    },
    computed: {
      rows() {
        return this.items.length
      },
      hallarEncabezados(){
        let campos={};
        console.warn(this.items);
        if(parseInt(this.items.length)){

        }
        for (const a in object) {
          
        }
      }
    }
  }
</script>
